<footer class="mt-auto bg-light">
  <div class="container">
    <div class="row">

      <ul class="list-unstyled col-md-4 col-sm-12 col">
        <li class="mb-2">© iSignif 2019</li>
        <li class="mb-2">
          <address>73 Cours Albert Thomas<br />69003, Lyon</address>
        </li>
        <li class="mb-2"><a href="mailto:contact@isignif.fr">contact@isignif.fr</a></li>
        <li class="mb-2">
          <a href="https://www.linkedin.com/company/isignif/" target="_blank">
            <img alt="LinkedIn" class="footer_social"
              src="/assets/in-220b5c6d82726dd6a043755f5e3cc18464e285c737fb1e43d3d53b02c3f53886.png">
          </a>
        </li>
      </ul>

      <ul class="list-unstyled col-md-4 col-sm-12 col">
        <li class="mb-2"><a href="/about">A propos du projet</a></li>
        <li class="mb-2"><a href="/blog">Blog</a></li>
        <li class="mb-2"><a href="/faq">Foire aux questions</a></li>
      </ul>

      <ul class="list-unstyled col-md-4 col-sm-12 col">
        <li class="mb-2"><a href="/tos">CGU / CGV</a></li>
        <li class="mb-2"><a href="/legal">Mentions légales</a></li>
        <li class="mb-2"><a href="/privacypolicy">Charte du respect de la vie privée</a></li>
      </ul>

    </div>
  </div>
</footer>