<footer class="footer-clean bg-primary color-white">
  <div class="container">
    <div class="row justify-content-center">
      <!-- CONTACT PART -->
      <div class="col-sm-4 col-md-3 item">
        <h3>Contactez-nous</h3>
        <ul>
          <li class="mt-4">
            <img class="icon-footer" src="/images/mail.svg" /><a href="mailto:contact@isignif.fr">contact@isignif.fr</a>
          </li>
        </ul>
      </div>
      <!-- SOCIAL MEDIA PART -->
      <div class="col-sm-4 col-md-3 item">
        <h3>Suivez-nous</h3>
        <ul class="list-group list-group-horizontal mt-2">
          <li class="list-group-item bg-transparent border-0 pl-0 pt-1">
            <a href="https://www.linkedin.com/company/isignif/" target="_blank"
              ><img alt="Linkedin" src="/images/in.svg"
            /></a>
          </li>
          <li class="list-group-item bg-transparent border-0 pl-1 pt-1">
            <a href="https://www.youtube.com/channel/UCU_g2mt1JIbAw6kTCCUHtGQ" target="_blank"
              ><img alt="Youtube" src="/images/yt.svg"
            /></a>
          </li>
        </ul>
      </div>
      <!-- USEFUL LINKS PART -->
      <div class="col-sm-4 col-md-3 item">
        <h3>Liens utiles</h3>
        <ul>
          <li><a class="btn-link" href="https://isignif.fr/act_types">Types d'actes</a></li>
          <li><a class="btn-link" href="https://isignif.fr/bailiffs">Nos études d'huissiers partenaires</a></li>
          <li><a class="btn-link" href="https://isignif.fr/faq">FAQ - Tout savoir sur notre outil</a></li>
          <li><a class="btn-link" href="https://isignif.fr/legal">Mentions légales - iSignif</a></li>
          <li><a class="btn-link" href="https://isignif.fr/about">A propos d'iSignif</a></li>
          <li><a href="https://isignif.fr/brochure.pdf" target="_blank" class="btn-link">Brochure</a></li>
        </ul>
      </div>
      <!-- WHITE LOGO PART -->
      <div class="col-sm-4 col-md-3 item">
        <a href="https://isignif.fr/"><img class="logo-footer" src="/images/logo.white.svg" /></a>
      </div>
    </div>
    <div class="col col-12 bg-primary text-center mt-0 mb-0 py-1 copyright">
      <p class="mb-0 pb-0">© iSignif 2023. Tous droits réservés.</p>
    </div>
  </div>
</footer>
