<meta charset="utf-8" />
<link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />

<link rel="shortcut icon" type="image/x-icon" href="/images/isignif.ico" />
<!-- title -->
<title>{{page.title}}</title>
<meta property="og:title" content="{{page.title}}" />
<meta name="description" content="{{page.description}}" />
<!-- language -->
<meta name="language" content="fr_FR" />
<meta name="og:locale" content="fr_FR" />
<!-- canonical -->
<link href="{{page.url}}" rel="canonical" />
<!-- keys words -->
<!-- my informations -->
<meta name="email" content="a.rousseau@isignif.fr" />
<meta name="author" content="Alexandre ROUSSEAU" />
<meta name="publisher" content="Alexandre ROUSSEAU" />
<!-- social networks ID -->
<!-- <meta property="fb:app_id" content="1672575099670561"> -->
<!-- Open Graph required fields -->
<meta property="og:site_name" content="{{site.title}}" />
<meta property="og:url" content="iSignif" />
<meta name="image" property="og:image" content="/images/logo.svg" />
