
$primary:       #2C94C8;
$secondary:     #3f3d56;
$success:       green;
// $info:          $cyan !default;
// $warning:       $yellow !default;
$danger:        #ff7a8a;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$spacer: 1.2rem !default;




$color: #2f2e41;
$color: #3f3d56;
$color: #4285f4;
$color: #9f616a;
$color: #a0616a;
$color: #e6e6e6;
$color: #f2f2f2;
$color: #f2f2f2;
$color: #f2f2f2;
$color: #fff;



$font-weight-bold:            800;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            900 !default;


$line-height-base:            1.5 !default;

$font-size-base:              1.2rem;

$h1-font-size:                $font-size-base * 3 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


$paragraph-margin-bottom:   2rem;


// $theme-colors: (
//   "primary": blue,
//   "danger": #ff4136
// );



// $brand-primary:         blue; // #337ab7
// $brand-success:         green;
// $brand-info:            lightblue;
// $brand-warning:         #f0ad4e;
// $brand-danger:          #d9534f;